body {
    background-color:rgb(172, 233, 248);
    background-image: url("blue.png");
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    border-radius: 25px;
    background:rgb(230,230,230,0.2);
    margin: auto;
    padding: 20px;
    width: 600px;
    height: 120px;
    color: #003366;
    font-size: 46px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.cloud {
    position:relative;
}

#cloud1 {
    top: 20px;
    left: 20px;
    width: 400px;
    height: 300px;
    animation: movingcloud 10s infinite alternate-reverse;
    animation-timing-function: ease-in;
}
#cloud2 {
    top: 200px;
    left: 100px;
    width:200px;
    height:150px;
    animation: movingcloud 10s infinite alternate-reverse;
    animation-timing-function: ease-in-out;
}

@keyframes movingcloud {
    from {left: 0px;}
    to {left: 600px;}
}

@media (max-width: 800px) {
    h1 {
        padding: 20px;
        width: 160px;
        height: 120px;
        font-size: 26px;
    }
    
    #cloud1 {
        top: 40px;
        left: 5px;
        width: 200px;
        height: 150px;
    }
    #cloud2 {
        top: 60px;
        left: 10px;
        width: 80px;
        height: 60px;
    }
    
    @keyframes movingcloud {
        from {left: 0px;}
        to {left: 200px;}
    }
}